.sideWrapper {
  transform: translateX(0px);
  transition: transform 0.5s ease;

  &.active,
  &.active ~ div,
  &.active ~ footer {
    transform: translateX(320px);
  }

  &.active ~ footer {
    opacity: 0.2;
  }

  .navWrapper {
    &.active {
      opacity: 0.2;
    }

    .firstNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      padding: 2%;
      border-bottom: 1px solid #e6eaea;
      background-color: #fcfcfc;
      width: 96%;

      strong {
        position: relative;
        display: inline-block;
        line-height: normal;
        font-family: 'apercu', sans-serif;
        text-rendering: optimizeLegibility;
        color: #202121;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          background-repeat: no-repeat;
          background-image: linear-gradient(
            to right,
            black 45%,
            rgba(32, 33, 33, 0.3) 55%
          );
          background-size: 220% 100%;
          background-position: 100% 50%;
          transition: all 0.3s ease-out;
        }
        &:hover::before {
          background-position: 0% 50%;
        }
      }

      p {
        font-size: 16px;
        font-family: 'apercu', sans-serif;
      }

      .firstNavIcons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 5%;
        font-size: 14px;

        svg {
          font-size: 15px;
        }
      }
    }

    .secondNav {
      z-index: 500;
      display: flex;
      align-items: center;
      position: sticky;
      width: 100%;
      top: 0;
      background-color: #fcfcfc;

      .secondNavLeftBox {
        display: flex;
        align-items: center;
        padding: 0 23px;
        height: 70px;
        font-size: 15px;
        font-family: 'apercu', sans-serif;
        border-right: 1px solid #e6eaea;
        cursor: pointer;

        svg {
          margin: 0 10px 0 0;
        }
      }

      .secondNavRightBox {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;

        .search {
          display: flex;
          align-items: center;
          flex: 1;
          padding: 0 23px;
          height: 70px;
          font-size: 14px;
          font-family: 'apercu', sans-serif;
          cursor: pointer;
        }

        .itemLogin {
          display: flex;
          align-items: center;
          padding: 0 20px;
          height: 70px;

          span {
            display: none;
          }

          strong {
            margin-left: 4px;
            font-weight: 600;
            font-size: 13px;
            font-family: 'apercu', sans-serif;
            cursor: pointer;
          }
        }

        .SubmitButton {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          font-size: 13px;
          font-family: 'apercu', sans-serif;
          width: 15%;
          height: 70px;
          background-color: black;
          color: #fcfcfc;
        }
      }

      .searchContainer {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 115px;
        width: calc(100% - 115px);
        height: 70px;
        border-bottom: 1px solid #e6eaea;
        background-color: #f4f7f6;
        font-weight: 300;
        z-index: 2;
        transition: all 0.3s ease-in-out;

        &.active {
          opacity: 1;
          visibility: visible;
        }

        .searchBox {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;

          .searchInput {
            display: flex;
            flex: 1;
            height: 69px;
            padding: 0 20px;
            border: 0;
            background-color: transparent;
            font-size: 13px;
            text-transform: uppercase;
            line-height: normal;
          }

          .filter {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px 0 10px;
            height: 100%;
            font-size: 14px;
          }

          .btnClose {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 66px;
            height: 70px;
            background-color: #202121;
            cursor: pointer;
            z-index: 1;
            transition: all 0.3s ease-in-out;
            color: #fcfcfc;
            font-size: 25px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
          }
        }
      }

      .logo {
        display: block;
        position: absolute;
        left: 50%;
        width: auto;
        height: 23px;
        line-height: normal;
        transform: translateX(-50%);
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }
}
